{{ form_start(workspaceForm) }}
    {{ form_row(workspaceForm.name, {
        label: 'Workspace name'
    }) }}

<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(workspaceForm) }}